/* ملف st.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/images/background.jpg') no-repeat center center fixed; /* استخدام مسار ثابت */
    background-size: cover; /* جعل الصورة تغطي كامل الخلفية */
}
.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.vh-100 {
    height: 100vh; /* ارتفاع 100% من نافذة العرض */
}

.container {
    max-width: 600px; /* زيادة الحد الأقصى للعرض */
    background-color: rgba(255, 255, 255, 0.9); /* خلفية بيضاء مع شفافية */
    padding: 70px; /* زيادة التباعد الداخلي */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto; /* مركزية العنصر */
    margin-top: 15%; /* تباعد أعلى */
}

h1 {
    margin-bottom: 20px; /* تباعد أسفل العنوان */
    text-align: center; /* محاذاة العنوان في المركز */
}

.form-group {
    margin-bottom: 15px; /* تباعد بين الحقول */
}

.btn {
    background-color: #007bff; /* لون زر */
    color: white; /* لون نص الزر */
    width: 100%; /* جعل الزر يشغل كامل عرض الحقل */
}

.btn:hover {
    background-color: #0056b3; /* لون الزر عند التحويم */
}
